*, *:before, *:after {
    box-sizing: border-box;
  }



body {
  background-color: #eee;
  font-size: 10px;
  font-family: courier;
}


.container {
  width:100%;
  /*
  min-width:420px;
  max-width:480px; ????? */
}

/*image overflowing to top of page? article in wrong spot? make a nav bar?*/

.preview {
  width: 480px;
  height: 300px;
  float: left;

}


.baku{
  background-image: url("../images/baku.jpg");
  background-repeat: no-repeat;
  background-position: left;

}

.london{
  background-image: url("../images/london.png");
  background-repeat: no-repeat;
  background-position: right;
}

.madrid{
  background-image: url("../images/madrid.jpg");
  background-position: center;
}

.rome{
  background-image: url("../images/rome.jpg");
  background-position: center;
}


h1 {
  padding-left: 25%;
  font-size: 2.5em;
  margin: 0;
}

h2 {
    position: relative;
    top: 500px;
    left: 25px;
    font-size: 3em;

}



@media screen and (max-width: 480px){


  /* ???
  body, .container, .preview, h1, h2 {
    /*width:100% 480px??
    min-width: 420px;
    max-width: 480px;??? */

    }

@media screen and (min-width: 480px) and (max-width: 991px){
     div {
      margin: 1%;
      width: 48%;

    }

@media screen and (min-width: 991px){
         div {
          margin: 1%;
          width: 25%;

        }


  }



  /* testing following parent/img method, added html too,
  probably not recommended
  .parent {
    width: 480px;
    height: 300px;
  }

  img {
    display: block;
    width: 480px;
    height: 300px;
  }

  .content {


  <div class="parent">
  <img width="480" height="300" src="images/baku.jpg">

  }*/


}
