*, *:before, *:after {
    box-sizing: border-box;
  }

body {
  background-color: #aaaaaa;
  font-size: 10px;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.preview {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.baku{
  background-image: url("../images/baku.jpg");
}

.london{
  background-image: url("../images/london.png");
}

.madrid{
  background-image: url("../images/madrid.jpg");
}

.rome{
  background-image: url("../images/rome.jpg");
}


h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  padding-top: 5%;
  padding-bottom: 5%;
}

h2 {
    position: relative;
    top: 10%;
    left: 25px;
    font-size: 2em;

}

@media screen and (max-width: 480px){
  .preview {
    float: left;
  }
    }

@media screen and (min-width: 480px) and (max-width: 991px){
     .preview {
      margin: 1%;
      width: 48%;
      float: left;
    }
}

@media screen and (min-width: 991px){
         .preview {
          margin: 1%;
          width: 23%;
          float: left;
        }

  }

}
